@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900;1000&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Raleway Light";
  src: url("../assets/fonts/Raleway-Light.ttf");
}

@font-face {
  font-family: "Raleway Regular";
  src: url("../assets/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway Semibold";
  src: url("../assets/fonts/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: "Raleway Medium";
  src: url("../assets/fonts/Raleway-Medium.ttf");
}

@font-face {
  font-family: "Raleway Bold";
  src: url("../assets/fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway ExtraBold";
  src: url("../assets/fonts/Raleway-ExtraBold.ttf");
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.header {
  background: #191D1E;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 64px;
  justify-content: space-between;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #191D1E;
  padding: 52px 64px;
  height: 160px;
}

.navbar {
  display: flex;
  align-items: center;
}

.navlink {
  font-size: 20px;
  margin: 0 25px;
  font-weight: 300;
  font-family: Raleway Light;
}

.MuiSelect-icon {
  fill: #fff !important;
}

.main-block {
  height: max-content;
}

.address {
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/Main-bg.jpg");
}

.under-block {
  min-height: 650px;
  background: #E5D8CB;
}

.button-component:hover {
  background: #fff;
  color: #191D1E;
}

.main-marquee {
  padding-top: 11px;
  font-family: Raleway SemiBold;
  font-size: 35px;
  line-height: 49px;
  letter-spacing: 5px;
  color: #000;
}

.marquee-tilda {
  padding-bottom: 8px;
  margin: 0 16px;
  font-size: 75px;
}

.marquee-block {
  display: flex;
  height: max-content;
  align-items: center;
  justify-content: center;
}

.information-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  padding-bottom: 110px;
}

.info-collage {
  display: flex;
}

.info-text {
  margin-left: 40px;
}

.about-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 103px 64px 100px 64px;
  background: #40453C;
}