@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900;1000&display=swap');

html,
body {
  padding: 0 !important;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Raleway';
  src: url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-100.eot');
  src: url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-100.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-100.woff2') format('woff2'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-100.woff') format('woff'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-100.ttf') format('truetype'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-100.svg') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-200.eot');
  src: url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-200.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-200.woff2') format('woff2'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-200.woff') format('woff'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-200.ttf') format('truetype'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-200.svg') format('svg');
  font-weight: 200;
  font-style: normal;

}

@font-face {
  font-family: 'Raleway';
  src: url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-300-.eot');
  src: url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-300-.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-300.woff2') format('woff2'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-300.woff') format('woff'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-300.ttf') format('truetype'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-300.svg') format('svg');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'Raleway';
  src: url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-400.eot');
  src: url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-400.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-400.woff2') format('woff2'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-400.woff') format('woff'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-400.ttf') format('truetype'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-400.svg') format('svg');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'Raleway';
  src: url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-500.eot');
  src: url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-500.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-500.woff2') format('woff2'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-500.woff') format('woff'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-500.ttf') format('truetype'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-500.svg') format('svg');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'Raleway';
  src: url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-600.eot');
  src: url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-600.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-600.woff2') format('woff2'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-600.woff') format('woff'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-600.ttf') format('truetype'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-600.svg') format('svg');
  font-weight: 600;
  font-style: normal;

}

@font-face {
  font-family: 'Raleway';
  src: url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-700.eot');
  src: url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-700.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-700.woff2') format('woff2'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-700.woff') format('woff'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-700.ttf') format('truetype'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-700.svg') format('svg');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'Raleway';
  src: url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-800.eot');
  src: url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-800.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-800.woff2') format('woff2'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-800.woff') format('woff'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-800.ttf') format('truetype'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-800.svg') format('svg');
  font-weight: 800;
  font-style: normal;

}

@font-face {
  font-family: 'Raleway';
  src: url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-900.eot');
  src: url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-900.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-900.woff2') format('woff2'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-900.woff') format('woff'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-900.ttf') format('truetype'),
    url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/font/rawline-900.svg') format('svg');
  font-weight: 900;
  font-style: normal;

}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.header {
  background: #191D1E;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 64px;
  justify-content: space-between;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #191D1E;
  padding: 52px 64px;
  height: 160px;
}

.navbar {
  display: flex;
  align-items: center;
}

.navlink {
  font-size: 20px;
  margin: 0 25px;
  font-weight: 300;
  font-family: Raleway;
}

.MuiSelect-icon {
  fill: #fff !important;
}

.MuiSelect-select {
  padding-right: 18px !important;
}

.main-block {
  height: max-content;
}

.address {
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.react-parallax-bgimage {
  background-color: rgba(25, 29, 30, 1);
}

.react-parallax-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 400px) {
  .address {
    height: 450px;

  }

  .sm-text {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
  }

  .react-parallax-content {
    height: 100%;
  }
}

.under-block {
  min-height: 650px;
  background: #E5D8CB;
}

.button-component:hover {
  background: #fff;
  color: #191D1E;
}

.main-marquee {
  padding-top: 11px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 35px;
  line-height: 49px;
  letter-spacing: 5px;
  color: #000;
}

.marquee-tilda {
  padding-bottom: 14px;
  margin: 0 16px;
  font-size: 75px;
}

.marquee-block {
  display: flex;
  height: max-content;
  align-items: center;
  justify-content: center;
}

.news-block {
  background: #E5D8CB;
  padding: 120px 64px;
}

.booking-block {
  display: flex;
  justify-content: space-between;
  background: #56624B;
  padding: 34px 64px;
}

.information-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  padding-bottom: 110px;
}

.info-collage {
  display: flex;
}

.info-text {
  margin-left: 40px;
}

.about-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 103px 64px 100px 64px;
  background: #40453C;
}

.contact-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(64, 69, 60, 1);
}

.photo-page {
  background: #191D1E;
}

.photos-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 392px);
  gap: 24px;
}

.photos-container {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 64px;
  width: 100%;
}